{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lekhak</title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
</head>
<body style="overflow-x: hidden;">

    {% block body %}
    {% endblock body %}

    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/popper/popper.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'scripts/base.js' %}"></script>

</body>
</html>