{% extends 'main/base.html' %}

{% block body %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 col-sm-12">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis debitis fuga aliquid. Delectus vero quae
            sunt, exercitationem, perspiciatis facere officiis deserunt nulla molestias rem quod sed fugit fugiat minus.
            Accusamus?
        </p>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock body %}

