{% load static %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark py-0">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">Ξ</button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <div class="card text-left" style="width: 100%;">
                        <img class="card-img-top px-2 img-fluid" style="max-width: 100%;"
                            src="{% static 'images/ph.png' %}" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <p class="card-text">Body</p>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
        <div class="navbar-nav dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownSearch" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Search</a>
            <div class="dropdown-menu" aria-labelledby="dropdownSearch">
                <form class="my-2 my-lg-0">
                    <input class="form-control-sm mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">🔎</button>
                </form>
            </div>
        </div>
        {% if not user.is_authenticated %}
        <div class="navbar-nav inline my-0 my-lg-0 p-0">
            <a class="nav-link" href="#">Login</a>
            <a class="nav-link" href="#">Register</a>
        </div>
        {% endif %}
    </div>
</nav>